.navbar-brand {
  margin-left: 10px;
  color: white;
}

p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat-Black 900";
}
.right_section {
  float: right;
  font-size: 23px;
  text-align: left;
  font-weight: bold;
  font-family: "Montserrat-Black 900";
}
.left_section {
  float: left;
  font-size: 23px;
  text-align: right;
  font-weight: bold;
  font-family: "Montserrat-Black 900";
}
#navigation_bar {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
